<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-light" style="background-color: #F0FFF0;">
    <div class="navbar-header">
        <!-- <a href="{%url 'home'%}" title="Button border blue/green" class="button btnFloat btnBlueGreen">SUBMIT YOUR SITE</a>
        <p style="font-size: 20px;text-align:center;color:#222; text-decoration: none;"><a style="color:#222;" href="/signup">REGISTER</a></p>&nbsp;/&nbsp;<P style="font-size: 20px; color: #222;"><a href="/login">LOGIN</a></P> -->
    </div>
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-2">
            
            <ul class="navbar-brand">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Actions
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li ><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
                  <li><a href="/accounts/login">Login</a></li>
                  <li><a href='/'>Home</a></li>
                  <li><a href="/accounts/register">Register</a></li>
                  <li><a href="/profile/">Profile</a></li>
                  <li><a href="/project/">Project</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>
            
            <!-- <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li> -->
    
            
          </div>
          <!-- <div id="main">
              <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; menu</span>
            </div> -->
            <div class="col-md-3"></div>
            <div class="col-md-4"><h1>AWWWARDS.</h1></div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
              <form id="demo-2" action="{% url 'search_results'%}" style="position: relative;right:30px; background-color: #F0FFF0;">
                <input type="search" placeholder="Search" name="searchItem">
              </form>
            </div>
            
            <!-- <div class="">
              <p style="font-size: 20px;text-align:center;color:#222; text-decoration: none;"><a style="color:#222;" href="/signup">REGISTER</a></p>&nbsp;/&nbsp;<P style="font-size: 20px; color: #222;"><a href="/login">LOGIN</a></P>
            </div>
            <div class="cls">
              <a href="{%url 'home'%}" title="Button border blue/green" class="button btnFloat btnBlueGreen">SUBMIT YOUR SITE</a> -->
            <!-- </div> -->
        </div>
      </div>
    </div>
  </nav>
</body> 
